.form-container {
  width: min(100%, 700px);
  margin-inline: auto;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form-container .row {
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-group {
  width: 100%;
}

.form-container form input,
.form-container form textarea,
.form-container form select {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  background-color: var(--clr-grey);
  color: var(--clr-blue-dark);
  font-size: 12px;
  position: relative;
}
.form-container form label {
  font-size: 12px;
}

.form-group.invalid input,
.form-group.invalid textarea {
  outline: 1px solid var(--clr-red);
}
.form-container .form-submit {
  width: 100%;
  text-align: right;
  margin-top: 1rem;
}

.form-container form button {
  cursor: pointer;
  display: inline-block;
  width: max-content;
  border: none;
  outline: none;
  background-color: var(--clr-green-main);
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  min-width: 100px;
  padding-block: 10px;
}

.form-container form button:disabled {
  background-color: #929292;
  cursor: not-allowed;
}
