.contact-section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact-section h1 {
  color: var(--clr-white);
  text-align: center;
  margin-bottom: 2rem;
}
