.events-section {
  padding-block: 4rem 2rem;
}

.events-section h2 {
  font: var(--font-sub-heading);
  text-align: center;
  margin-bottom: 2rem;
}
.event-box {
  width: 100%;
  height: auto;
  scroll-snap-align: center;
}
