.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex: none;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: normal;
  padding-top: 20px;
  padding-bottom: 40px;
}
