.form-container {
  width: min(100%, 700px);
  margin-inline: auto;
  background-color: var(--clr-blue-dark);
  padding: 2rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.form-group {
  width: 100%;
}

.form-container form input,
.form-container form textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 1rem;
  background-color: var(--clr-blue-light);
  color: var(--clr-white);
  font: var(--font-body);
  position: relative;
}

.form-group.invalid input,
.form-group.invalid textarea {
  outline: 1px solid var(--clr-red);
}

.form-container form button {
  cursor: pointer;
  display: inline-block;
  width: max-content;
  border: none;
  outline: none;
  padding: 10px 2rem;
  background-color: var(--clr-green-main);
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  min-width: 100px;
  min-height: 50px;
}

.form-container form button:disabled {
  background-color: #929292;
  cursor: not-allowed;
}
